@media print {
    .resume {
        .note { font-size: 9pt; }
    }
}

.resume {
    width: 55em;

    a { font-weight: normal; }

    h1, h2, h3, h4 {
        margin-top: 0;
        margin-bottom: 0;
    }

    h2 { margin-bottom: 1.3em; margin-top: 4em; }
    h3 { margin-top: 2em; }

    .note {
        font-size: 0.9em;
        font-style: italic;
        font-weight: normal !important;
        text-transform: none;
    }

    .col1, .col2 {
        display: inline-block;
        vertical-align: top;
    }

    .col1 {
        margin-right: 4em;
        width: 16.5em;
        a { font-weight: bold; }
    }

    .col2 {
        width: 32em;
    }
}
