@media print {
    body {
        padding: 1in 1in 1in 1in;
        width: 6.5in;
        height: 9in;
    }
    .header, .footer { display: none; }

    .resume {
        .note { font-size: 9pt; }
    }
}

.resume {
    margin: 0 0 0 0;
    padding: 4% 4% 4% 4%;
    width: 8.5in;

    a { font-weight: normal; }

    h1, h2, h3, h4 {
        margin-top: 0;
        margin-bottom: 0;
    }

    h2 {
        margin-bottom: 0.2in;
        margin-top: 0.6in;
        border-bottom: none;
    }
    h3 {
        font-size: inherit;
        margin-top: 0.3in;
        letter-spacing: 0.1em;
        border-bottom: solid 1px black;
    }

    .note {
        font-size: 9pt;
        font-style: italic;
        font-weight: normal !important;
        text-transform: none;
    }

    .col1, .col2 {
        display: inline-block;
        vertical-align: top;
    }

    .col1 {
        margin-right: 0.5in;
        width: 2.5in;
        a { font-weight: bold; }
        p { font-size: 9pt; }
    }

    .col2 {
        width: 5in;
    }
}
