<div class="description">
  <p>
    In 2002 my friends and I were unhappy with the state of the art in posting funny quotes from IRC. Existing sites had moderators as gatekeepers. They didn't seem to have much effect on quality, and they were never around to approve submissions anyway. I decided to make my own, replacing moderators and ranking with a pretty effective recommender system.
  </p>
  <p>
    That original implementation is no longer live, but in 2008 I reimplemented it on Google App Engine. All the data has survived, although the personalized ranking features no longer exist.
  </p>
</div>
