<div class="front">
  <div class="feature bio">
    <h2>About Me</h2>
    <p>
      I'm a programmer living in San Francisco with my partner,
      <a href="http://www.sarahhobstetter.com/">Sarah Hobstetter</a>,
      and my dog, <a href="http://reddit.com/r/ezzie">Ezzie</a>.
    </p>
  </div>

  <div class="feature code">
    <h2>Projects</h2>
    <p>
      I've been programming for over 20 years. I grew up on open source, and I've been fortunate
      to work with companies friendly to open source throughout most of my career. I've collected a
      few samples of my work here.
    </p>
    <div class="projects">
      <a ng-repeat="project in projects" class="project" href="/code#{{project.title}}">
        <img class="icon" src="/static/img/{{project.title}}-logo.png">
      </a>
    </div>
  </div>

  <div class="feature racing">
    <h2>Racing</h2>
    <p>
      In 2011 I ventured into the sport of motorcycle racing. During this adventure I accumulated a
    lot of videos and cool photos.
    </p>
  </div>
</div>
