<div class="front">
  <div class="feature code">
    <h2>Programming</h2>
    <p>
      I've been programming for over 20 years. What began with simple BASIC games in elementary
      school evolved into online multiplayer text games in high school. Shortly I learned Linux, web
      programming, and open source software in general.
    </p>
    <p>
      After earning my master's degree at the end of 2004, I moved from Virginia to California.
      I spent six great years at Google, before moving to reddit for a few years. Now I'm
      exploring what the Bay Area has to offer as a freelancer.
    </p>
    <a class="more" href="/code">more 〉</a>

    <h2>For Hire</h2>
    <p>
      I'm available for hire. I have a lot of experience in the full stack of web programming,
      from operations to backend and frontend development. I've even dabbled in mobile and video
      game development in my free time.
    </p>
    <p>
      If you're looking for someone who can produce high quality code in a very short
      amount of time, <a href="mailto:logan@loganhanks.com">send me an email</a>.
    </p>
    <div class="more">
      <a href="mailto:logan@loganhanks.com">email me 〉</a><br>
      <a href="/resume.html">my resume 〉</a>
    </div>
  </div>

  <div class="feature racing">
    <h2>Racing</h2>
    <p>
      In 2011 I ventured into the sport of motorcycle road racing. I focused on amateur club racing,
      gaining experience on lightweight machines until I was able to make my professional debut on
      a Harley-Davidson XR1200 in 2013. Along the way I collected a lot of great photos and videos.
    </p>
    <logan-carousel href="/racing">
      <logan-image src="/static/img/laguna-1-400.jpg"></logan-image>
      <logan-image src="/static/img/thill-2-400.jpg"></logan-image>
      <logan-image src="/static/img/sonoma-1-400.jpg"></logan-image>
      <logan-image src="/static/img/lvms-1-400.jpg"></logan-image>
    </logan-carousel>
    <a class="more" href="/racing">more 〉</a>
  </div>
</div>
