<!doctype html>
<html lang="en" ng-app="loganApp">
  <head>
    <meta charset='utf-8'>
    <meta name="fragment" content="!">
    <link href='http://fonts.googleapis.com/css?family=Didact+Gothic' rel='stylesheet' type='text/css'>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular-route.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/controllers.js"></script>
    <script src="/static/js/directives.js"></script>
    <title>Logan Hanks</title>
  </head>
  <body>
    <logan-header></logan-header>
    <div ng-view autoscroll="" class="content"></div>
    <logan-footer></logan-footer>
  </body>
</html>
